* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}


.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.h-40 {
  height: 10rem;
}

.w-96 {
    width: 41rem;
}

.h-screen {
  height: 100vh;
}
.bg-dark-bisque {
  background-color: rgba(160, 94, 14, 0.233);
}

.rounded-full {
  border-radius: 9999px;
}

.text-white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.col-span-1 {
    grid-column: span 1 / span 1;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}
.bg-brown {
  background-color: white;
}
.bg-dark-beige {
  background-color:rgb(246, 246, 222) ;
}

.grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

.pt-4 {
  padding-top: 1rem;
}

.pl-4 {
padding-left: 4rem;
}

.pt-8 {
  padding-top: 2rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.underline {
  text-decoration: underline;
}
.col-start-2 {   grid-column-start: 2; }  
.col-end-4 {   grid-column-end: 4; }

.h-full {
  height: 99%;
}

.text-center {
  text-align: center;
}

.italic{
  font-style: italic;
}

.h-20 {
  height: 5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* .pt-8 {
  
} */

.text-white {
  color: white;
}

.bg-dark-bisque {
  background-color: rgba(249, 140, 6, 0.356);
}

.text-cadetblue {
  color: rgb(95, 158, 160);
}

.border {
  border-bottom: 10px;
}

.rounded-lg {
  border-radius: 50px;
}

.border-cadeblue {
  border-color: cadetblue;
}
.w-2-16 {
  width: 20%;
}

.mt-10 {
  margin-top: 10px;
}

.border-4 {
  border-width: 4px;
}

.border-solid {
  border-style: solid;
}

.ml-5 {
  margin-left: 10px;
}

  
.bg-img {
  background-image: url(../img/ffflurry.svg);
}

.opacity-75 {
opacity:0.8;
}

.no-underline {
  text-decoration: none;
}

.opacity-none {
  opacity: 0;
}
.bg-background-img {
  background-image: url(../img/hhhorizon\ \(2\).svg);
}

.bg-size {
  background-size: cover;
}


.blur {
  backdrop-filter: blur(10px);
}

.pt-10 {
  padding-top: 4rem;
}

.p-10 {
  padding: 22px;
}

.w-11-12 {
  width: 98%;
}




@media screen and (max-width: 768px) {
  .w-96 {
    width: 460px;
    
  }
  .flex-direction {
    flex-direction: column;
  }
  .grid-cols-1 {
    
      grid-template-rows: repeat(1, minmax(0, 1fr));
  }
.w-52 {
width: 255px;
}
.w-60 {
  width: 285px;
}
.w-1-12 {
  width: 27%;
}
  .p-14 {
    padding: 24px;
  }
.ml-30{
  margin-left: 120px;
}

pb-24 {
  padding-bottom: 32px;
}
.ml-10 {
  margin-left: 10px;
}

} 

@media screen and (max-width: 425px) {
  .w-9-12 {
    width:75% ;
    
  }
  .w-10-12 {
    width: 81%;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .w-full {
    width: 90%;
  }
  
  .flex {
    display: flex;
  }
  .flex-direction {
    flex-direction: column;
  }
  .grid-cols-none {
    grid-template-columns: none;
  }
  .grid-template-rows {
    grid-template-rows: 100%;
  }

  .w-2-15 {
    width: 133%;
  }
}